extends layout

block content
  img.logo(src="img/logo-parachute.svg", alt="Hack Squared")  
  h2 Grab a hackathon project (yours or somebody else's), figure out what the fuck is going on, and remix it to build something awesome.
  h3 We'll teach you how to be great parachute developers - who often get deployed into codebases similar to warzones. They have to work out ho things work before being able to make changes. 
  a.button(href="http://twitter.com/hacksquared") Follow @HackSquared for updates
  span.author: a(href="http://twitter.com/_phzn") Run by @_phzn